.hide {
    display: none !important;
}

user-built-component {
    display: block;
}

button.natural {
    outline: solid 1.5px rgb(128, 128, 128);
    background-color: white;
    text-align: center;
    display: block;
    border: none;
}

button.natural:hover {
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

div.natural {
    outline: solid 1.5px rgb(128, 128, 128);
    overflow: auto;
}

h1.natural, h2.natural, h3.natural, h4.natural, h5.natural, h6.natural {
    margin-inline: unset;
    margin-block: unset;
    text-align: center;
    width: fit-content;
    display: block;
}

[boxStyle~="round"] {
    border-radius: 12px;
}

[boxStyle~="outlineless"] {
    outline: none !important;
}

[boxStyle~="thick-outline"] {
    outline: solid 3px black !important;
}

[boxStyle~="shadow"] {
    box-shadow: 0px 4px 8px 0px rgb(118, 118, 118);
}

[boxStyle~="center-box"] {
    margin-right: auto !important;
    margin-left: auto !important;
}

[boxStyle~="align-center"] {
    text-align: center;
}

input.natural, textarea.natural {
    outline: solid 1.5px rgb(128, 128, 128);
    word-break: break-word !important;
    display: block !important;
    border: none !important;
    padding: 0px;
    resize: none;
    user-select: none !important;
}

button:hover {
    user-select: none !important;
}

ol.natural {
    text-align: left;
    width: fit-content;
}

img.natural {
    display: block;
    user-select: none !important;
}