<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Workspace</title>
    <link rel="stylesheet" href="actionedit.css">
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="style.css">
    <style id="lsimulate">

    </style>
</head>
<body>
    <div id="headbar">
        <div id="saveAsFile">Save as file</div>
        <div id="loadFromFile">Load from file</div>
        <div onclick="save(); location.href = '../projects.html'">Home</div>
        <div id="reset">Clear</div>
        <div id="openServer">Open Server</div>
        <div><label for="makeServer">Make</label><input type="file" id="makeServer" /></div>
        <div id="appearance">Appearance</div>
        <div id="deploy">Deploy</div>
        <div id="help">Help</div>
        <div id="location" style="position: absolute; right: 4px;"></div>
    </div>
    <div id="workspaceframe">
        <div id="wsleft"></div>
        <div id="wsff">
            <div id="wsnav">
                <div id="toPage">Page</div>
            </div>
            <div id="workspace">
                <canvas style="display: block;"></canvas>
                <wsbody mode="Page"></wsbody>
            </div>
        </div>
        <div id="wsright"></div>
        <h1></h1>
    </div>
    <div id="menus"></div>
    <div id="addmenu" class="draggablemenu">
        <drag-menu></drag-menu>
        <label>UI</label><show-hide-button div="true"></show-hide-button><br>
        <div>
            <add-menu name="library"></add-menu>
            <add-menu name="title"></add-menu>
            <add-menu name="button"></add-menu>
            <add-menu name="text field"></add-menu>
            <add-menu name="paragraph"></add-menu>
            <add-menu name="form"></add-menu>
            <add-menu name="image"></add-menu>
            <add-menu name="list"></add-menu>
            <add-menu name="iframe"></add-menu>
            
        </div>
        <label>Layout</label><show-hide-button div="true"></show-hide-button><br>
        <div>
            <add-menu name="box"></add-menu>
            <add-menu name="components"></add-menu>
        </div>
        <label>Style</label><show-hide-button div="true"></show-hide-button><br>
        <div><add-menu name="style"></add-menu></div>
        <label>States</label><show-hide-button div="true"></show-hide-button><br>
        <div><add-menu name="states"></add-menu></div>
        <label>Page</label><show-hide-button div="true"></show-hide-button><br>
        <div><add-menu name="route"></add-menu></div>
        <label>Action</label><show-hide-button div="true"></show-hide-button><br>
        <div><add-menu name="action"></add-menu></div>
        <label>Database</label><show-hide-button div="true"></show-hide-button><br>
        <div><add-menu name="database"></add-menu></div>
    </div>
    
    <script src="database/db.js"></script>
    <script src="complib/default.js"></script>
    <script src="saveload.js"></script>
    <script src="tld.js"></script>
    <script src="canv.js"></script>
    <script src="dragui.js"></script>
    <script src="route/menu.js"></script>
    <script src="ui/menu.js"></script>
    <script src="ui/uimenus.js"></script>
    <script src="workspaces.js"></script>
    <script src="usercomponents.js"></script>
    <script src="blockcoding.js"></script>
    <script src="ui/actionmenu.js"></script>
    <script src="ui/stylemenu.js"></script>
    <script src="ui/statesmenu.js"></script>
    <script src="ui/titlesmenu.js"></script>
    <script src="ui/buttonmenu.js"></script>
    <script src="ui/boxmenu.js"></script>
    <script src="ui/values.js"></script>
    <script src="ui.js"></script>

    <script>
        if (window.require) {
            let electron = require('electron');
            let openServer = document.getElementById('openServer');
            openServer.addEventListener('click', () => {
                let wsb = document.querySelector('wsbody');
                wsb.setAttribute('mode', 'Page');
                let imgs = [];
                for (let e of wsb.querySelectorAll('src')) {
                    if (e.getAttribute('src')[1] == ':') {
                        imgs.push(e.getAttribute('src'));
                    }
                }
                let ee = document.getElementById('lsimulate');
                localStorage.setItem('llcss', ee.innerHTML);
                electron.ipcRenderer.send('openExpress',
                    wsb.innerHTML,
                    window.builtComponents,
                    window.actions,
                    window.states,
                    { ...localStorage },
                    imgs
                );
            });
        }
    </script>
</body>
</html>