<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Workspace</title>
    <link rel="stylesheet" href="actionedit.css">
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="headbar">
        <div>File</div>
        <div id="reset">Clear</div>
        <div>View</div>
        <div>Tool</div>
        <div>Help</div>
        <div id="openServer">Open Server</div>
    </div>
    <div id="workspaceframe">
        <div id="wsleft"></div>
        <div id="wsff">
            <div id="wsnav">
                <div id="toPage">Page</div>
            </div>
            <div id="workspace">
                <canvas></canvas>
                <wsbody mode="Page"></wsbody>
            </div>
        </div>
        <div id="wsright"></div>
    </div>
    <div id="menus"></div>
    <div id="addmenu" class="draggablemenu">
        <drag-menu></drag-menu>
        <label>UI</label><show-hide-button div="true"></show-hide-button><br>
        <div>
            <add-menu name="library"></add-menu>
            <add-menu name="title"></add-menu>
            <add-menu name="button"></add-menu>
            <add-menu name="input text"></add-menu>
        </div>
        <label>Layout</label><show-hide-button div="true"></show-hide-button><br>
        <div>
            <add-menu name="box"></add-menu>
            <add-menu name="components"></add-menu>
        </div>
        <label>Style</label><show-hide-button div="true"></show-hide-button><br>
        <div>
            <add-menu name="style"></add-menu>
        </div>
        <label>States</label><show-hide-button div="true"></show-hide-button><br>
        <div>
            <add-menu name="states"></add-menu>
        </div>
        <label>Page</label><show-hide-button div="true"></show-hide-button><br>
        <div>
            <add-menu name="route"></add-menu>
        </div>
    </div>
    <script src="complib/default.js"></script>
    <script src="saveload.js"></script>
    <script src="tld.js"></script>
    <script src="canv.js"></script>
    <script src="dragui.js"></script>
    <script src="route/menu.js"></script>
    <script src="ui/menu.js"></script>
    <script src="ui/uimenus.js"></script>
    <script src="workspaces.js"></script>
    <script src="usercomponents.js"></script>
    <script src="blockcoding.js"></script>
    <script src="ui/actionmenu.js"></script>
    <script src="ui/stylemenu.js"></script>
    <script src="ui/statesmenu.js"></script>
    <script src="ui/titlesmenu.js"></script>
    <script src="ui/buttonmenu.js"></script>
    <script src="ui/boxmenu.js"></script>
    <script src="ui/values.js"></script>
    <script src="ui.js"></script>

    <script>
        if (window.require) {
            let electron = require('electron');

            let openServer = document.getElementById('openServer');
            openServer.addEventListener('click', () => {
                let wsb = document.querySelector('wsbody');
                wsb.setAttribute('mode', 'Page');
                electron.ipcRenderer.send('openExpress',
                    wsb.innerHTML,
                    window.builtComponents,
                    window.actions,
                    window.states
                );
            });
        }
    </script>
</body>
</html>